@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: #FAFAFA;
  --foreground: #050507;
  --card: #FFFFFF;
  --card-foreground: #050507;
  --popover: #FFFFFF;
  --popover-foreground: #050507;
  --primary: #00a36c;
  --primary-foreground: #FFFFFF;
  --secondary: #F2F2F2;
  --secondary-foreground: #050507;
  --muted: #F2F2F2;
  --muted-foreground: #848E9C;
  --accent: #F2F2F2;
  --accent-foreground: #050507;
  --destructive: #FB565B;
  --border: #DCDCDC;
  --input: #DCDCDC;
  --ring: #00D992;
  --chart-1: #00A36C;
  --chart-2: #818CF8;
  --chart-3: #FB565B;
  --chart-4: #4CB3D4;
  --chart-5: #FFBA00;
  --radius: 0.375rem;
  --sidebar: #FFFFFF;
  --sidebar-foreground: #050507;
  --sidebar-primary: #00A36C;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #F2F2F2;
  --sidebar-accent-foreground: #050507;
  --sidebar-border: #DCDCDC;
  --sidebar-ring: #00D992;
}

.dark {
  --background: #050507;
  --foreground: #f2f2f2;
  --card: #101010;
  --card-foreground: #f2f2f2;
  --popover: #101010;
  --popover-foreground: #f2f2f2;
  --primary: #00d992;
  --primary-foreground: #050507;
  --secondary: #161616;
  --secondary-foreground: #f2f2f2;
  --muted: #161616;
  --muted-foreground: #b8b3b0;
  --accent: #161616;
  --accent-foreground: #f2f2f2;
  --destructive: #fb565b;
  --border: #3d3a39;
  --input: #3d3a39;
  --ring: #00d992;
  --chart-1: #00d992;
  --chart-2: #818cf8;
  --chart-3: #fb565b;
  --chart-4: #4cb3d4;
  --chart-5: #ffba00;
  --sidebar: #050507;
  --sidebar-foreground: #f2f2f2;
  --sidebar-primary: #00d992;
  --sidebar-primary-foreground: #050507;
  --sidebar-accent: #161616;
  --sidebar-accent-foreground: #f2f2f2;
  --sidebar-border: #3d3a39;
  --sidebar-ring: #00d992;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}